@layer tailwind-base, primereact, tailwind-utilities;

@import 'primereact/resources/themes/lara-light-blue/theme.css' layer(primereact);

@layer tailwind-base {
    @tailwind base;
}

@layer tailwind-utilities {
    @tailwind components;
    @tailwind utilities;
}


#root {
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 100%;
}

body {
    /* @apply border border-black */
    font-family: "Poppins", serif;
}
